.create {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  text-align: center;
  font-family: "Quicksand";
  font-size: 1.25rem;
  height: 150vh;
}

.create label {
  text-align: left;
  display: block;
}

.title {
  font-size: 1.5rem;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create select {
  width: 100%;
  padding: 8px 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

p {
  font-size: 20px;
  font-style: bold;
}

.list-types {
  list-style: none;
}
