:root {
  --green: #9d9101;
  --white: #e8edd8;
  --gray: #d5d1d3;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 120vh;
  background: var(--green) url(../../img/picachu.jpg) no-repeat;
  background-size: cover;
}

.message {
  color: var(--white);
  font-size: 5rem;
  margin-top: 5rem;
}

.boxButton {
  align-self: flex-end;
  order: -1;
  margin-right: 2rem;
  margin-top: 1rem;
}

.line {
  border-color: var(--gray);
}
